.responses {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.heatmap {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.question {
  min-width: 100px;
  padding: 1rem;
}

.title {
  color: #818181;
  font-weight: 400;
  font-size: 20px;
  min-width: 160px;
}

.tile {
  border-radius: 24px;
  flex: 1;
  height: 44px;
  text-align: center;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s transform ease;
}

.tile:hover {
  transform: scale(1.1);
}